.DS_Store

# LaTeX build directories
/build/
/build_refcheck/

# Root-level LaTeX outputs
/*.abs
/*.aux
/*.bbl
/*.bcf
/*.blg
/*.fdb_latexmk
/*.fls
/*.log
/*.out
/*.pdf
/*.run.xml
/*.synctex.gz
/*.toc
